---
Language: Cpp
Standard: c++20
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Stroustrup
IndentCaseLabels: True
ColumnLimit: 90
PointerAlignment: Left
ReferenceAlignment: Left
BreakConstructorInitializers: AfterColon
AlwaysBreakAfterReturnType: None
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
AllowShortEnumsOnASingleLine: True
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
MaxEmptyLinesToKeep: 2